body {
    font-family: "Comic Sans MS";
    border-left: 5cm solid bisque;
    border-right: 5cm solid bisque;
    border-collapse: collapse;
}
td img{/*Größenanpassung der Bilder von den Speisen*/
    height: 30%;
    width: 50%;
}
.warning{
    color: red;
}

/*Üben anfang*/
nav li:hover{
    background-color: burlywood;

}
nav li:first-child:hover{     /*damit das Bild nicht mit einem Hintergrund versehen wird wenn man drüber geht*/
    background-color: unset;
}

a:link, a:visited{     /*wenn die Webseite oder der Link angeklickt wurde der Farbwechsel*/
    color: #2196F3;
}



.container{                  /*Verhältnis von container zu panel*/
    perspective: 500px;
}

.panel {
    transition: transform ease-in-out 10000ms;
}

#trans:hover{
    transform: translateZ(100px);

}






/*Üben ende*/

/*von hier*/
table, th {
    padding-right: 20px; /*Platz nach rechts damit die Tabelle nicht so gequetscht aussieht*/
    border-collapse: collapse; /*Damit nicht um jedes Element ein Rand ist*/
    border-style: solid; /*gestrichelt oder durchgezogene linie*/
    border-color: black;
    border: 2px solid black; /*rand stärke*/


}

table tr:hover{
    background-color: bisque;

}

td { /*macht ein rand */
    padding-right: 20px;
    text-align: center; /*zentriert die schrift in den zellen*/
    border: 1px solid black;

}

#menüliste { /*zentrieren der Tabelle*/
    margin-right: auto;
    margin-left: auto;
}

/*bis hier tabelle*/

.n {
    display: inline-block;
    color: #b0aeae;
}

/*ab hier kommt ph stoff*/
.zahlen ul{
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;

}
.Wichtig{
    list-style-position: inside;
}

body{
     text-align: center;
 }


.content-body{
    margin-left: 20%;
    margin-right: 20%;
}

nav{
    background-color: bisque;
}

.navbar {

    width: 100%;
    column-gap: 5px;

    display: inline;
    list-style: none;
    min-height: 84px;

}



.logo{
    width: 200px;
}
/*.navbar ul{
    float: left;
}*/
.navbar li {
    display: inline;
    padding: 20px;
}

.zahlen ul{
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;

}
.Wichtig{
    list-style-position: inside;

}

footer{
    border-top: 2px solid bisque;
    padding-top: 10px;
}

footer ul{
    display: inline;
    list-style: none;
    padding: 10px;


}
footer li{
    display: inline;
    padding: 10px;
    border-right: bisque 1px solid;
}
footer li:last-child{
    border-right: none;
}